@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap');

:root {
  --primary-color: #264653;
  --secondary-color: #2A9D8F;
  --accent1-color: #9561f4;
  --accent2-color: #E76F51;

  --heading-font: 'Merriweather', sans-serif;
  --paragraph-font: 'Roboto', sans-serif;

  --nav-background-color: #264653;
  --nav-link-color: #2A9D8F;
  --nav-hover-link-color: #F4A261;
  --nav-hover-background-color: #E76F51;
}

body {
  max-width: 840px;
  padding: 10px;
  text-decoration: none;
  margin: auto;
  background-color: white;

}
.hero {
  height: 300px;
}

.hero {
  position: relative;
  height: 400px;
  width: 100%;
 
}

h1, h2, h3 h4, h5, h6{
  color: var(--primary-color);
  display: flex;
  justify-content: center;
}
.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 40%;
  float: right;
  max-width: 100%;
  height: 350px;
}

.hero-title {
  position: relative;
  z-index: 2;
  font-size: 30px;
  color: white;
  background-color: rgba(100, 98, 98);
  text-shadow: 2px 2px 4px #8a858500;
}

.hero-article {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  padding: 5px;
  background-color: rgba(119, 188, 240, 0.7);
  color: white;
  opacity: 0.9;
}

.image-grid img {
  max-width:100%;
  box-shadow: 3px 3px 30px gray;
  border-radius: 3px;
}

.article-image {
  float: right;
  margin-left: 20px;
  width: 150px;
  height: auto;
  top: 15%;
  left: 10%;
  transform: translate(-10%, -30%);
  object-fit: cover;
}

h1, h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

header {
  padding: 20px;
  background-color: var(--accent1-color);
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
  align-items: center;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}


nav {
  background-color: white;
  justify-content: space-evenly;
  display: flex;
  align-items: center;
}

nav a {
  display: block;
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 20px;
  font-size: 1.2rem;
  font-weight: 700;
}

nav a:link, nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

header img {
  padding-left: 3rem;
}

footer {
  border-color: #362653 ;
  display: grid;
  grid-template-columns: repeat(2,9fr);
  column-gap: 5px;
  background-color: white;
}

.sociallinks p {
  text-align: center;
  flex-grow: 1;
  color: #fff;
  text-decoration: none;
  justify-content: center;
}

.adv {
  background: rgb(73, 85, 163, 0);
  border: #4b4747 solid 1px;
  display: flex;
}
p {
  padding: 25px;
  text-decoration: none;
  font-size: 1.2rem;
}

.sociallinks img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

figcaption {
  background-color: #fff;
  font: var(--paragraph-font);
  padding: 1px;
  align-items: center;
  box-shadow: 7px 7px 30px gray;
  border-radius: 5px;
}

.image-grid {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}

.di {
  padding: 10px;
  font-size: smaller;
  display: flex;
  column-gap: 20px;
  
}

.contact-in {
  display: block;
  border-style: solid;
  border-color: #264653;
  padding: 5px;
}

.inf {
  text-align: left;
  padding: 0;
  display: flex;
  border: #264653;
}

form{
  width: 650px;
  margin: 2rem auto;
  display: grid;
  padding: 1rem;
  border: #6393e7;
  border-radius: 0.5rem;
  background-color: #111512;
}

fieldset {
  display: grid;
  gap: 0.5rem;
  margin: 1rem;
  padding: 1rem;
  background-color: #c8c1c1;
}

button {
  font-size: 1.1rem;
  border: none;
  padding: 0.76rem;
  background-color: #264653;
  color: aliceblue;
  border-radius: .6rem;
  width: 100%;
}

label, input, button, select, textarea {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0.5rem;
}

input, textarea, select {
  padding: 0.5rem;
  font-size: 1.2rem;
}

input[type=checkbox] {
  width: 20px;
  height: 20px;
  vertical-align: bottom;
}

.employ {
  display: flex;
  align-content: center;
  flex-flow: row nowrap;
  height: auto;
  justify-content: space-evenly;
}

figcaption {
  font-size: large;
  text-align: center;
}

.sub {
  display: flex;
}

.radio {
  display: flex;
}

button:hover {
  border-color: #f3f8f7;
}

.book {
  display: grid;
  justify-content: center;
  padding: 25px;
  border-style: inset solid;
}

.purpose {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2px;
  padding: 50px;
  border-style: dashed;
  background-color: #ccd6da;
}

.pa {
  display: grid;
  grid-template-columns: 3fr 1fr;
  font-style: italic;
  font-size: small;
}

.paa {
  display: grid;
  grid-template-columns: 7fr;
  font-style: italic;
  font-size: smaller;
}

.call {
  display: grid;
  justify-content: center;
  padding: 30px;
  border-style: inset solid;
}

.trips {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 15px;
  column-gap: 10px;
  border-style: dashed;
  font-size: medium;
  font-style: italic;
  background-color: #ccd6da;
}