@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap');

:root {
    --primary-color: #264653;
    --secondary-color: #2A9D8F;
    --accent1-color: #61b9f4;
    --accent2-color: #E76F51;
  
    --heading-font: 'cyrillic', serif;
    --paragraph-font: 'vietnamese', serif;
  
    --nav-background-color: #264653;
    --nav-link-color: #2A9D8F;
    --nav-hover-link-color: #F4A261;
    --nav-hover-background-color: #E76F51;
  }

  body {
    max-width: 960px;
    padding: 20px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
  }

  header {
    padding: 20px;
    background-color: var(--accent1-color);
  }

  p {
    padding: 25px;
  }

  nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
  }
  
  nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
  }
  
  nav a:link, nav a:visited {
    color: var(--nav-link-color);
  }
  
  nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
  }