* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  nav {
      background-color: steelblue;
      padding: 10px;
    }
  
  nav a {
      color: white;
      display: block;
      padding: 20px;
  }
  
  h1 {
      color: steelblue;
    }
  
  img {
      width: 150px;
      height: auto;
      border: 1px solid steelblue;
      padding: 2px;
      box-shadow: 0 0 30px gray;
  }
  
  p {
      padding: 0px;
    }
  
  aside {
      width: 20em;
      text-align: center;
      position: relative;
    }
  
    aside img {
      width: 200px;
      height: auto;
    }
  
    aside h2 {
      position: absolute;
      top: 40px;
      left: 140px;
  
    }
    
    
    main img {
      width: 75.09px;
      height: auto;
      border: 1px solid rgb(2, 21, 40);
      padding: 2px;
      box-shadow: 0 0 30px gray;
      margin: 0 0 1rem 1rem;
      float: right;
    }
  
    footer {
      margin-top: 1em;
      border-top: 1px solid #000;
      text-align: center;
    }
  
    main h1,p {
      padding: 1rem;
      }
  
  /* Class Selectors */
  
    .box {
      margin: 1rem;
      border: 1px solid rgba(0,0,0,.2);
      padding: 1rem;
      background-color: #ddd;
      color: #000;
      
    }